/*div styles*/
body{
  background-color: lavender;
}
.common{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
}
.top{
  top: 0px;
  left: 0px;
  right: 0px;
}
.middle{
  top: 110px;
  left: 0px;
  right: 0px;
  font-size: small;
}
.bottom{
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  text-align: center;
  background-color: rgb(111, 89, 129);
  font-style: italic;
  font-weight: bold;
}
.imgcenter{
  display: block;
  margin: auto;
  border: 5px solid black;
  width: 900px;
}
.vidcenter{
  display: block;
  margin: auto;
  border: 5px solid black;
  width: 900px;
  height: 500px;
}
.something{
  color: blueviolet;
  font-weight:bold;
}
.youtubevid{
  display: block;
  margin: auto;
  border: 10px solid white;
  text-align: center;
}